.search {
  -webkit-appearance: none;
  border: 1px solid lightseagreen;
  padding: 10px;
  width: 350px;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
}